.home__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.home__header h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

.home__header h6 {
  font-weight: bold;
  color: grey;
  margin: 0;
}

.home__content__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
