.search {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 20px;
}

.search__container {
  display: flex;
  align-items: center;
  gap: 2em;
  width: 100%;
  max-width: 850px;
  padding: 20px;
  border-radius: 40px;
  background-color: var(--color-secondary);
}

.search__input {
  background-color: var(--color-secondary);
  border: none;
  color: var(--color-primary);
  &::placeholder {
    color: var(--color-primary);
  }
  font-size: 1em;
  outline: none;
}
